
#floorBar {
  height: 100%-bottom;
  width: 30%;
  position: fixed;
  z-index: 100;
  top: 40px;
  bottom: 40px;
  right: 0;
  background-color: rgba(58,68,84,0.8);
  overflow-x: hidden;
  overflow-y: hidden;
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 1.0;
}

.mobile #floorBar {
  top: 50px;
  bottom: 50px;
}

#floor0 {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 30px;
  z-index: 30000;
  color: #ff0000;
}

#floor1 {
  position: absolute;
  top: 20%;
  left: 60%;
  font-size: 30px;
  z-index: 30000;
  color: #0000ff;
}

#mapid {
  height: 100%;
  weight: 100%;
  }

.blocker {z-index: 999;}

#floorBar .sceneName {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding: 0px;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#fullscreenToggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

.mobile #fullscreenToggle {
  width: 50px;
  height: 50px;
}

body.fullscreen-enabled #fullscreenToggle {
  display: block;
}

#fullscreenToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #fullscreenToggle .icon {
  top: 10px;
  right: 10px;
}

#fullscreenToggle .icon.on {
  display: none;
}

#fullscreenToggle .icon.off {
  display: block;
}

#fullscreenToggle.enabled .icon.on {
  display: block;
}

#fullscreenToggle.enabled .icon.off {
  display: none;
}

#mapToggle {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

.mobile #mapToggle {
  right: 0px;
  width: 50px;
  height: 50px;
}


#mapToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #mapToggle .icon {
  top: 10px;
  right: 10px;
}

.modal_left {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: rgba(20,20,20,0.2) !important;
}

.modal {
    max-width: 80%;
    min-height: 50vh;
    color: #fff;
    border-radius: 5px;
    top: auto;
    bottom: auto;
    left: 10px;
    right: 10px;
    padding: 10px;
    z-index: 11000 !important;
    background-color: rgba(0,0,0,.8);
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out 0.4s;
    transition: opacity 0.3s ease-in-out 0.4s;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#titleBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 40px;
    height: 40px;
    text-align: left;
}

#sceneList {
    width: 250px;
    left: -250px;
}
#sceneList.enabled {
    margin-left: 250px;
}


.pav-title {background-color: rgba(20,20,20,0.0) !important;padding-left: -5px !important;}
#sceneList .pav-title .text {padding: 0px 0px !important; padding-left: 5px !important;}


.responsive-image{width: 100%; height: auto;}


.link_url{margin-top: 2em;padding-left: 0.4em;padding-right: 0.4em;background-color: rgb(195, 0, 0)}
.link_url:hover{background-color: rgb(165, 0, 0)}


.modal_titulo {text-transform: uppercase;font-size: 2em;margin-bottom: 2em;}
.modal_subtitulo {text-transform: uppercase;font-size: 1.2em;margin-bottom:;}

.modal_content_main {width: 90%; margin-left: 5%; margin-right: 5%;}
.modal_content_left-30 {width: 30%; text-align: left; float: left;padding-right: 1em;}
.modal_content_left-50 {width: 50%; text-align: left; float: left;padding-right: 1em;}
.modal_content_left-70 {width: 70%; text-align: left; float: left;padding-right: 1em;}
.modal_content_left-100 {width: 100%; text-align: left; float: left; padding-right: 1em;}
.modal_content_right-30 {width: 30%; float: left; line-height: 2em; padding-left: 1em;}
.modal_content_right-50 {width: 50%; float: left; line-height: 2em; padding-left: 1em;}
.modal_content_right-70 {width: 70%; float: left; line-height: 2em; padding-left: 1em;}
.modal_content_right-100 {width: 100%; float: left; line-height: 2em; padding-left: 1em;}

.modal p {font-size: 1em; line-height: 1.6;}

#mapid {background-color: rgba(58,68,84,0.3);}
#floorBar {background-color: rgba(58,68,84,0.1);}

.minus{margin-left: 1em;}


.modal {padding: 2em; overflow-y: auto; line-height: 1.6;}
.modal h1 {text-transform: uppercase;}
.modal p {font-size: 1em; margin-bottom: 1em;}


.sl-overlay{opacity: 1;}
